*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
  &::-webkit-scrollbar {
    display: none; 
  }
  
}

.userProfile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 10.5%;
}
.userInfoForm{
  height: 100%;
  margin-bottom: 4rem;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

.messageText {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0;
  color: chocolate;
}
}

.nav-link{
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  &:hover {
    color: orange; 
  }
  .bi-cart {
    font-size: 1.5rem; 
  }
}
.active{
  color: orange; 
  font-weight: bold;
}

.restaurant-container{
  min-height: 85.5vh;
  .restaurant-banner{
    background: url('../assets/img/banner.png') center/cover no-repeat;
    height: 40vh;
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      height: 100%;
    }
    
  }
  .heading{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 300;
  }
  
} 

.restaurants{
  margin-bottom: 4rem;
  .restaurantCard{
    border-radius: 1rem;
    transition: all 0.5s linear;

      .card{
      &:hover{
        border: none;
        border-color: rgb(232, 232, 232);
      box-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;
      cursor: pointer;
      }

      .card-header{
        border-radius: 1rem 1rem 0rem 0rem;
        transition: all 0.5s linear;
        overflow: hidden;
        padding: 0;
      }

      .card-body{
        padding: 1rem;
      }
      .star_img {
        width: 23px;
        height: 23px;
        padding-bottom: 0.3rem;
        margin-left:0.5rem;
      }
      
      img{
        border-radius: 1rem 1rem 0 0;
        transition: all 0.5s linear;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
  
}

.dropdown-toggle:empty::after {
  display: none;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

  
@media screen and (max-width: 767px) {
  .userProfile{
    display: none;
  }
  .userInfoForm{
    .messageText{
      font-size: 1rem;
      padding: 0rem 2rem;
      margin-bottom: 2rem;
    }
  }
  .nav-link{
    padding: 0.5rem;
  }
  .restaurant-container{
  .restaurant-banner{
    height: 30vh;
    div > h2{
      font-size: 1rem;
    }
  }
}
}

